body {
    margin: 0;
    line-height: inherit;
}

header {
    background-color: #1F2937;
    padding: 0px 80px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 210px;
    height: 210px;
}

#main-link-container {
    display: flex;
    gap: 2em;
}

.main-links {
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

svg {
    display: none;
}

#hero-section {
    background-color: #1F2937;
    height: 35vh;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    gap: 20em;

}

h1, p {
    margin: 0;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    min-width: 400px;
    max-width: 600px;

}

h1 {
    font-family: 'Inter', sans-serif;
    color: #F9FAF8;
    font-size: 30px;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #F9FAF8; 
    font-size: 23px; 
}

#quote-btn {
    background-color: rgb(255, 213, 1, 0.7);
    padding: 15px 50px;
    border-radius: 80px;
    color: white;
    border: 2px solid #FFD501;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    box-shadow: 0 0 20px #ffd501;
    margin-top: 15px;
}

#hero-img {
    border-radius: 30px;
    width: 500px;
    height: 250px;
    opacity: 0.9;
}

#info-section {
    height: 30vh;
    padding: 100px 0px 320px 0px;
}

h2 {
    text-align: center;
    color: #1F2937;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    margin-bottom: 70px;

}

#info-btns-container {
    display: flex;
    gap: 7em;
    justify-content: center;
    align-items: center;
    flex: 0 1 0%;
    flex-wrap: wrap;
    align-content: space-between;
}

.info-btn {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgb(255, 213, 1, 0.4);
    border: 2px solid #FFD50199;
    box-shadow: 0 0 10px #FFD501;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.info-img {
    width: 200px;
    height: 200px;
}

.img-description {
    color: #1F2937;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center;
}

#quote-section {
    gap: 1em;
    background-color: #E5E7EB;
    padding: 150px 0px;
    text-align: center;
}

#quote {
    font-family: 'Quicksand', sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin: 0 350px;
}

span {
    display: contents;
    font-family: 'Inter', sans-serif;
    color: #1F2937;
    font-size: 25px;
}

#cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 150px 0px;
}

#cta-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 213, 1, 0.4);
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid #FFD501;
    box-shadow: 0 0 20px #FFD501;
    flex: 0 2 1200px;
    margin: 0px 20px;
}

h4 {
    font-family: 'Inter', sans-serif;
    color: #1F2937;
    font-size: 32px;
    margin-bottom: 5px;
    margin-top: 0;
}

#cta-p {
    color: #1F2937;
    font-size: 30px;
}

h4, #cta-p {
    text-align: start;
    margin-left: 10px;
}

#cta-btn {
    padding: 15px 50px;
    color: #1F2937;
    background-color: transparent;
    border: 2px solid #1F2937;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    box-shadow: 0 0 1px #1F2937;
}

footer {
    height: 12vh;
    background-color: #1F2937;
}

#footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}


/* ALL MEDIA QUERIES */

@media only screen and (max-width: 1500px) {
    #hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5em;
        min-height: 640px
    }

    #quote-btn {
        margin-left: auto;
        margin-right: auto;
    }
    
    h1, p {
        text-align: center;
    }
    
    #hero-img {
        opacity: 0.8;
    }
}

@media screen and (max-width: 1200px) {
    #info-section {
        min-height: 600px;
    }

    #quote-section {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #quote {
        font-size: 28px;
        max-width: 550px;
        margin: 0px auto;
    }

    span {
        font-size: 26px;
    }

    h4 {
        font-size: 25px;
    }
    
    #cta-p {
        font-size: 23px;
    }

    #cta-btn {
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .main-links {
        display: none;
    }

    header {
        padding: 0 30px;
    }

    #header-container {
        max-width: none;
        justify-content: space-between;
    }

    svg {
        display: inline;
        color: #E5E7EB;
        width: 40px;
        height: 40px;
    }

    svg:hover {
        background-color: #E5E7EB;
        color: #1F2937;
        border-radius: 8px;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #info-btns-container {
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 10em;
    }

    #info-section {
        min-height: 950px;
    }

   #hero-img {
        width: 400px;
        height: 200px;
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 18px;
    }

    h1, p {
        text-align: start;
    }

   #quote-btn {
        width: 100%;
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    .img-description {
        font-size: 18px;
    }

    .info-btn, .info-img {
        width: 100px;
        height: 100px;
    }

    #quote {
        font-size: 23px;
        max-width: 400px;
    }

    span {
        font-size: 21px;
        display: inline-block;
    }

    h4 {
        font-size: 22px;
    }

    #cta-box {
        flex-direction: column;
    }

    #cta-p {
        font-size: 20px;
    }

    #cta-btn {
        width: 90%;
        font-size: 18px;
    }
}